{% extends "base.html" %}
{% load static %}
{% block content %}


	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Удалить Пользователя</h1>
					<nav class="d-flex align-items-center">
						<a href="{% url 'home' %}">Главная<span class="lnr lnr-arrow-right"></span></a>
						<a href="{% url 'profile' %}">Профиль Пользователя</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	<!--================Profile Box Area =================-->
	<div class="delete-user text-center justify-content-center">
		<h3>Подтвердить удаление пользователя</h3>
		<form method="post">
			{% csrf_token %}
			<button type="submit" class="btn btn-danger delete-button">Удалить пользователя</button>
		</form>
	</div>
	<!--================End Profile Box Area =================-->

{% endblock content %}