{% extends "base.html" %}
{% load static %}
{% block content %}


	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Авторизация/Регистрация</h1>
					<nav class="d-flex align-items-center">
						<a href="{% url 'home' %}">Главная<span class="lnr lnr-arrow-right"></span></a>
						<a href="{% url 'register' %}">Регистрация</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	<!--================Register Box Area =================-->
	<section class="register_box_area section_gap">
		<div class="register_container">
			<div class="row">
				<div class="my-col-lg-6">
					{% if formuser.is_bound %}
						{% for field in formuser %}
							{% for error in field.errors %}
								<div class="alert alert-danger">
									<h4 style="color: red">{{ error }}</h4>
								</div>
							{% endfor %}
						{% endfor %}
					{% endif %}

					<div class="register_form_inner">
						<h3>Зарегистрируйтесь, чтобы продолжить</h3>                                          <!--id="contactForm"-->
						<form class="row register_form" action="{% url 'register' %}" method="post" novalidate="novalidate" enctype="multipart/form-data">
							{% csrf_token %}
							<div class="col-md-12 form-group">
								<input type="text" class="form-control" id="username" name="username" placeholder="Username" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Username'">
							</div>
							<div class="col-md-12 form-group">
								<input type="password" class="form-control" id="password1" name="password1" placeholder="Пароль" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Пароль'" required>
							</div>
							<div class="col-md-12 form-group">
								<input type="password" class="form-control" id="password2" name="password2" placeholder="Подтверждение пароля" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Подтверждение пароля'" required>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<input type="text" class="form-control" id="full_name" name="full_name" placeholder="Your Full name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Full Name'">
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<input type="date" class="form-control" id="birthday" name="birthday" placeholder="Your Birthday" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Birthday'">
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<input type="email" class="form-control" id="email" name="email" placeholder="Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'">
								</div>
							</div>
							<div class="col-md-12 form-group">
								<input type="file" class="form-control" id="image" name="image" placeholder="Your Image">
							</div>
							<div class="col-md-12 text-right">
								<button type="submit" value="submit" class="primary-btn">Зарегистрироваться</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Register Box Area =================-->

{% endblock content %}