{% extends "base.html" %}
{% load static %}
{% block content %}


	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Login/Register</h1>
					<nav class="d-flex align-items-center">
						<a href="{% url 'home' %}">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="{% url 'register' %}">Register</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	<!--================Register Box Area =================-->
	<section class="register_box_area section_gap">
		<div class="register_container">
			<div class="row">
				<div class="my-col-lg-6">
					<div class="register_form_inner">
						<h3>Register to enter</h3>
						<form class="row register_form" action="{% url 'register' %}" method="post" id="contactForm" novalidate="novalidate" enctype="multipart/form-data">
							{% csrf_token %}
							<div class="col-md-12 form-group">
								<input type="text" class="form-control" id="username" name="username" placeholder="Username" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Username'">
							</div>
							<div class="col-md-12 form-group">
								<input type="password" class="form-control" id="password" name="password" placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'">
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<input type="text" class="form-control" id="name" name="name" placeholder="Your Full name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Full Name'">
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<input type="date" class="form-control" id="birthday" name="birthday" placeholder="Your Birthday" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Birthday'">
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<input type="email" class="form-control" id="email" name="email" placeholder="Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'">
								</div>
							</div>
							<div class="col-md-12 form-group">
								<input type="file" class="form-control" id="image" name="image" placeholder="Your Image">
							</div>
							<div class="col-md-12 text-right">
								<button type="submit" value="submit" class="primary-btn">Зарегистрироваться</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Register Box Area =================-->
{% endblock content %}