.filter-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.filter-label {
  width: 100px;
  margin-left: 10px;
  margin-right: 7px;
  font-weight: bold;
  color: #343a40;
}

.filter-value {
  flex-grow: 1;
}

body .filter-value  {
 color: #212529;
}

.filter-value-button {
  display: flex;
  align-items: center;
  color:white;
}

.filter-button-confirm {
  background-color: #0069d9;
  transition: 1s linear; /* Время изменения */
}

.filter-button-confirm:hover {
  color: #000;
  background: #ffc107;
  border-color: #ffc107;
}

.filter-button {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
  transition: 1s linear; /* Время изменения */
}

.filter-button > a {
  color: #fff;
  transition: 1s linear; /* Время изменения */
}

.filter-button > a:hover {
  color: #000;
}

.filter-button:hover {
  background: #198754;
  border-color: #198754;
}

.form-control {
  width: 100%;
}

.btn-primary {
  margin-left: 10px;
}

.w-85 {
  width: 85%;
}

.input-sm input {
  width: 85%; /* задайте нужный размер */
  display: block;
  height: calc(2.25rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.sidebar-filter .head {
  margin-top: 10px;
}

.row > .text-center h4 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.cart_inner .table tbody tr.bottom_button td .cupon_text input::placeholder {
  color: #000;
}

.cart_inner .table tbody tr.bottom_button td .cupon_text {
  justify-content: end;
}

.header_area .navbar .nav.navbar-nav li {
  line-height: 60px;
}

.header_area .navbar .nav .nav-item.submenu ul .nav-item .nav-link{
  padding: 0px 25px;
}

@media (min-width: 992px) {
  .header_area .navbar .nav .nav-item.submenu ul {
    top: 100%;
  }
}

@media (max-width: 1200px) {
  .active-product-area .owl-nav .owl-next {
    right: 26%;
  }
}

@media (max-width: 1200px) {
  .active-product-area .owl-nav div {
    left: 26%;
  }
}

.mapRow {
  margin-top: 80px;
  margin-bottom: 100px;
}

.cart_inner .table tbody tr.out_button_area .checkout_btn_inner {
  margin-left: -460px;
}

.gray_btn{
  padding: 0px 20px;
}

.cart_inner .table tbody tr.out_button_area .checkout_btn_inner .primary-btn{
  padding: 0px 20px;
}

@font-face {
	font-family: 'PlayfairDisplay'; 
  font-style: normal;
	font-weight: normal;
  src: local('static'),
    url('/fonts/PlayfairDisplay/PlayfairDisplay-Regilar.ttf') fomat('ttf'),
}

@font-face {
	font-family: 'themify'; 
  font-style: normal;
	font-weight: normal;
  src: local('static'),
    url('/fonts/themify.woff2') format('woff2'), 
    url('/fonts/themify.woff') format('woff'),
    url('/fonts/themify.ttf') fomat('ttf'),
    url('/fonts/themify.eot') format('eot'); 
}

.warning-text{
  font-size: 14px;
	font-weight: 600;
  font-family: "PlayfairDisplay";
  color: #dc3545;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0 !important;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.warning-text > .s_product_text{
  margin-top: 20px;
  margin-bottom: 20px;
}

.single-product .product-details .prd-bottom .social-info{
  padding-bottom: 10px;
  padding-top: 10px;
  top: 0px;
  align-items: center;
  justify-content: start;
}

.product-category{
  font-family: "PlayfairDisplay";
  font-size: 15px;
	font-weight: normal;
  color: grey;
}

.product-available{
  font-family: "PlayfairDisplay";
  font-size: 15px;
	font-weight: normal;
  color: grey;
}

.product_image_area{
  padding-top: 70px !important;
}

.single-product .product-details .prd-bottom .social-info .hover-text{
  font-size: 11px;
  font-family: 'themify'; 
  font-style: normal;
	font-weight: 600;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
padding-top: 9%;
}

p.hover-text.hover-custom{
  padding-top: 0% !important;
} 

.single-product .product-details .prd-bottom .social-info:hover .hover-text {
  left: 35px;
}

.single-product .product-details .prd-bottom .social-info:hover {
  width: 120px;
}

.category-list .single-product {
  margin-top: 30px;
}

.single-product{
  margin-bottom: 30px;
}

.image-profile{
  border: 0.5px solid rgb(180, 180, 180);
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.30);
  padding: 10px;
}

.col-md-12-1{
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 30px;
  padding-left: 30px;
}
 .delete-user{
  margin-top: 255px;
  margin-bottom: 255px;
  margin-right: 25px;
  margin-left: 25px;
  padding: 25px;
 }

 .delete-button{
  margin-top: 25px;
  margin-bottom: 25px;
 }

/* form Area css
============================================================================================ */
@media (min-width: 992px) {
  .my-col-lg-6 {
    max-width: 100%;
    flex: 0 0 100%;
  }
}

.register_container {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.register_box_area .register_box_img {
  margin-right: -30px;
  position: relative; }
  .register_box_area .register_box_img img {
    width: 100%; }
  .register_box_area .register_box_img:before {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    content: "";
    background: #000;
    opacity: .5; }
  .register_box_area .register_box_img .hover {
    position: absolute;
    top: 50%;
    left: 0px;
    text-align: center;
    width: 100%;
    transform: translateY(-50%); }
    .register_box_area .register_box_img .hover h4 {
      font-size: 24px;
      color: #fff;
      margin-bottom: 15px; }
    .register_box_area .register_box_img .hover p {
      max-width: 380px;
      margin: 0px auto 25px;
      color: #fff; }
    .register_box_area .register_box_img .hover .primary-btn {
      border-radius: 0px;
      line-height: 38px;
      text-transform: uppercase; }
      .register_box_area .register_box_img .hover .primary-btn:hover:before {
        left: 260px; }

.register_form_inner {
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.25);
  height: 100%;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px; }
  .register_form_inner h3 {
    color: #222222;
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 30px; }
  .register_form_inner .register_form {
    max-width: 385px;
    margin: auto; }
  .register_form_inner.reg_form {
    padding-top: 60px; }
    .register_form_inner.reg_form h3 {
      margin-bottom: 70px; }

.register_form .form-group input {
  height: 54px;
  border: none;
  border-bottom: 1px solid #cccccc;
  border-radius: 0px;
  outline: none;
  box-shadow: none; }
.register_form .form-group .create_account {
  margin-top: 10px;
  margin-bottom: 15px;
  text-align: left; }
  .register_form .form-group .create_account input {
    height: auto;
    margin-right: 10px; }
.register_form .form-group .primary-btn {
  display: block;
  border-radius: 0px;
  line-height: 38px;
  width: 100%;
  text-transform: uppercase;
  border: none; }
  .register_form .form-group .primary-btn:hover:before {
    left: 370px; }
.register_form .form-group a {
  font-size: 14px;
  color: #777777;
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
  display: block; }
/* End form Area css
============================================================================================ */