.filter-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.filter-label {
  width: 100px;
  margin-left: 10px;
  margin-right: 7px;
  font-weight: bold;
  color: #343a40;
}

.filter-value {
  flex-grow: 1;
}

body .filter-value  {
 color: #212529;
}

.filter-value-button {
  display: flex;
  align-items: center;
  color:white;
}

.filter-button-confirm {
  background-color: #0069d9;
  transition: 1s linear; /* Время изменения */
}

.filter-button-confirm:hover {
  color: #000;
  background: #ffc107;
  border-color: #ffc107;
}

.filter-button {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
  transition: 1s linear; /* Время изменения */
}

.filter-button > a {
  color: #fff;
  transition: 1s linear; /* Время изменения */
}

.filter-button > a:hover {
  color: #000;
}

.filter-button:hover {
  background: #198754;
  border-color: #198754;
}

.form-control {
  width: 100%;
}

.btn-primary {
  margin-left: 10px;
}

.w-85 {
  width: 85%;
}

.input-sm input {
  width: 85%; /* задайте нужный размер */
  display: block;
  height: calc(2.25rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.sidebar-filter .head {
  margin-top: 10px;
}

.row > .text-center h4 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.cart_inner .table tbody tr.bottom_button td .cupon_text input::placeholder {
  color: #000;
}

.cart_inner .table tbody tr.bottom_button td .cupon_text {
  justify-content: end;
}

/* form Area css
============================================================================================ */
@media (min-width: 992px) {
  .my-col-lg-6 {
    max-width: 100%;
    flex: 0 0 100%;
  }
}

.register_container {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.register_box_area .register_box_img {
  margin-right: -30px;
  position: relative; }
  .register_box_area .register_box_img img {
    width: 100%; }
  .register_box_area .register_box_img:before {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    content: "";
    background: #000;
    opacity: .5; }
  .register_box_area .register_box_img .hover {
    position: absolute;
    top: 50%;
    left: 0px;
    text-align: center;
    width: 100%;
    transform: translateY(-50%); }
    .register_box_area .register_box_img .hover h4 {
      font-size: 24px;
      color: #fff;
      margin-bottom: 15px; }
    .register_box_area .register_box_img .hover p {
      max-width: 380px;
      margin: 0px auto 25px;
      color: #fff; }
    .register_box_area .register_box_img .hover .primary-btn {
      border-radius: 0px;
      line-height: 38px;
      text-transform: uppercase; }
      .register_box_area .register_box_img .hover .primary-btn:hover:before {
        left: 260px; }

.register_form_inner {
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.07);
  height: 100%;
  text-align: center;
  padding-top: 115px; }
  .register_form_inner h3 {
    color: #222222;
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 30px; }
  .register_form_inner .register_form {
    max-width: 385px;
    margin: auto; }
  .register_form_inner.reg_form {
    padding-top: 60px; }
    .register_form_inner.reg_form h3 {
      margin-bottom: 70px; }

.register_form .form-group input {
  height: 54px;
  border: none;
  border-bottom: 1px solid #cccccc;
  border-radius: 0px;
  outline: none;
  box-shadow: none; }
.register_form .form-group .create_account {
  margin-top: 10px;
  margin-bottom: 15px;
  text-align: left; }
  .register_form .form-group .create_account input {
    height: auto;
    margin-right: 10px; }
.register_form .form-group .primary-btn {
  display: block;
  border-radius: 0px;
  line-height: 38px;
  width: 100%;
  text-transform: uppercase;
  border: none; }
  .register_form .form-group .primary-btn:hover:before {
    left: 370px; }
.register_form .form-group a {
  font-size: 14px;
  color: #777777;
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
  display: block; }
/* End form Area css
============================================================================================ */