{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for shoe in shoesList %}
        <div class="col custom_div">
            <div class="card main-card">
                <a href="{% url 'product_detail' product_id=shoe.id %}">
                    {% if shoe.image %}
                <img src="{{ shoe.image.url }}" class="card-img-top custom_img" alt="{{ shoe.name }}">
                    {% endif %}
                </a>
                <div class="card-body main-card-body">
                    <div class="main-card-content">
                       <h2 class="card-title custom_h2">{{ shoe.name }}</h2>
                        {% if shoe.discount != 0 %}
                            {% if shoe.discounted_price != 0 %}
                            <h4 class="card-text custom_h4" style="text-decoration: line-through;">Цена: {{ shoe.price.price }} руб</h4>
                            <h4 class="card-text custom_h4">Цена со скидкой: {{ shoe.price.sale }} руб</h4>
                            {% endif %}
                        {% else %}
                            <h4 class="card-text custom_h4">Цена:{{ shoe.price.price }} руб</h4>
                        {% endif %}
                        <h4 class="card-text custom_h4">
                            {% for collection in shoe.collection.all %}
                            {{ collection.name }}
                            {% if not forloop.last %},{% endif %}
                            {% endfor %}
                        </h4>
                        {% if user.is_staff %}
                        <a class="card-text custom_a" href="{% url 'product_delete' product_id=shoe.id %}">Удалить продукт</a>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>
        {% empty %}
        <p>Нет доступных продуктов.</p>
        {% endfor %}
    </div>
    {% if user.is_staff %}
    <a href="{% url 'product_create' %}" class="btn btn-primary custom_a">Добавить новый продукт</a>
    {% endif %}
</div>
{% endblock content %}