{% extends "base.html" %}
{% load static %}
{% block content %}

<div id="category">
    <!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Категории Обуви</h1>
					<nav class="d-flex align-items-center">
						<a href="{% url 'home' %}">Главная<span class="lnr lnr-arrow-right"></span></a>
						<a href="#">Магазин<span class="lnr lnr-arrow-right"></span></a>
						<a href="{% url 'product_list' %}">Категории Обуви</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->
	<div class="container">
		<div class="row">
			<div class="col-xl-3 col-lg-4 col-md-5">
				{% include 'sidebar.html' with categories=categories filter=filter %}
			</div>
			<div class="col-xl-9 col-lg-8 col-md-7">
				<!-- Start Filter Bar -->
				<div class="filter-bar d-flex flex-wrap align-items-center">
					<div class="sorting">
					  <select id="sortProducts">
						  <option value="">Сортировать по:</option>
						  <option value="name_asc">По названию (А-Я)</option>
						  <option value="name_desc">По названию (Я-А)</option>
						  <option value="price_asc">По цене (возрастанию)</option>
						  <option value="price_desc">По цене (убыванию)</option>
					  </select>
					</div>
					<div class="sorting mr-auto"></div>
					<div>
						<ul class="pagination">
							{% if page_obj.has_previous %}
								{% if page_obj.number|add:'-3' > 1 %}
							  		<li class="pagination__item">
										<a href="?{{ filter_params }}&page=1">1</a>
							  		</li>
								{% endif %}
								{% if page_obj.number|add:'-3' >= 3 %}
							  		<li class="pagination__item pagination__item--dots">
										<a href="?{{ filter_params }}&page={{ page_obj.previous_page_number|add:'-3' }}">
								  			<span class="pagination__link">...</span>
										</a>
							  		</li>
								{% endif %}
						  	{% endif %}
						  	{% if paginator.page_range|length > 1 %}
								{% for i in paginator.page_range %}
							  		{% if page_obj.number == i %}
										<li class="pagination__item active">
											<a class="pagination__link" href="#">{{ i }}</a>
										</li>
							  		{% elif i > page_obj.number|add:'-3' and i < page_obj.number|add:'3' %}
										<li class="pagination__item">
											<a class="pagination__link" href="?{{ filter_params }}&page={{ i }}">{{ i }}</a>
										</li>
							  		{% endif %}
								{% endfor %}
						  	{% endif %}
						  	{% if page_obj.has_next %}
								{% if page_obj.number|add:'3' < page_obj.paginator.num_pages %}
							  		<li class="pagination__item pagination__item--dots">
										<a href="?{{ filter_params }}&page={{ page_obj.next_page_number|add:'3' }}">
								  			<span class="pagination__link">...</span>
										</a>
							  		</li>
								{% endif %}
								{% if page_obj.number|add:'2' < page_obj.paginator.num_pages %}
							  		<li class="pagination__item">
										<a class="pagination__link" href="?{{ filter_params }}&page={{ page_obj.paginator.num_pages }}">
								  			{{ page_obj.paginator.num_pages }}
										</a>
							  		</li>
								{% endif %}
						  	{% endif %}
						</ul>
					</div>
				</div>
				<!-- End Filter Bar -->
				<!-- Start Best Seller -->
				<section class="lattest-product-area pb-40 category-list">
					<div class="row">
						{% for shoe in page_obj %}
						<!-- single product -->
						<div class="col-lg-4 col-md-6">
							<div class="single-product">
								{% if shoe.main_image %}
									<img class="img-fluid" src="{{ shoe.main_image.url }}" alt="{{ shoe.name }}">
								{% endif %}
								<div class="product-details">
									<h6>{{ shoe.name }}</h6>
									<div class="price">
										{% if shoe.discount != 0 %}
											{% if shoe.discounted_price != 0 %}
												<h6 class="l-through">{{ shoe.price }}₽</h6>
												<h6>{{ shoe.discounted_price }}₽</h6>
											{% endif %}
										{% else %}
											<h6>{{ shoe.price }}₽</h6>
										{% endif %}
									</div>
									{% if user.is_staff %}
										<a class="social-info" style="color: red;" href="{% url 'product_delete' shoe.url shoe.id %}">Удалить продукт</a>
									{% endif %}
									<div class="prd-bottom">
										{% if not user.is_authenticated %}
											<a href="{% url 'login' %}" type="button">
												<p class="warning-text">Для покупки пожалуйста&shy; авторизуйтесь</p>
											</a>
										{% endif %}
										{% if user.is_authenticated %}
											<a href="{% url 'add_to_cart' shoe.id %}" class="social-info">
												<span class="ti-bag"></span>
												<p class="hover-text hover-custom">добавить в корзину</p>
											</a>
										{% endif %}
										<a href="#" class="social-info">
											<span class="lnr lnr-sync"></span>
											<p class="hover-text">сравнить</p>
										</a>
										<a href="{% url 'product_detail' shoe.url shoe.id %}" class="social-info">
											<span class="lnr lnr-move"></span>
											<p class="hover-text">подробнее</p>
										</a>
									</div>
								</div>
								{% if shoe.category %}
								<div class="product-category">
									<a><span class="lnr lnr-tag"></span>{{ shoe.category.name }} ({{ shoe.num_products }})</a>
								</div>
								<div class="product-available">
									{% if shoe.available == True %}<a><span>Есть в наличии</span></a>
									{% elif shoe.available == False %}<a><span>Нет в наличии</span></a>
									{% endif %}
								</div>
								{% endif %}
							</div>
						</div>
						{% empty %}
						<p>Нет доступных продуктов</p>
						{% endfor %}
						</div>
				</section>
				<!-- End Best Seller -->
				<!-- Start Filter Bar -->
				<div class="filter-bar d-flex flex-wrap align-items-center">
					<div class="sorting mr-auto"></div>
<!--					<div class="pagination">-->
<!--					{% for page_num in page_numbers %}-->
<!--						{% if page_obj.number == page_num %}-->
<!--							<a class="page-item active">{{ page_num }}</a>-->
<!--						{% else %}-->
<!--							<a href="?page={{ page_num }}" class="page-item">{{ page_num }}</a>-->
<!--						{% endif %}-->
<!--					{% endfor %}-->
<!--					</div>-->
					<div>
						<ul class="pagination">
							{% if page_obj.has_previous %}
								{% if page_obj.number|add:'-3' > 1 %}
							  		<li class="pagination__item">
										<a href="?{{ filter_params }}&page=1">1</a>
							  		</li>
								{% endif %}
								{% if page_obj.number|add:'-3' >= 3 %}
							  		<li class="pagination__item pagination__item--dots">
										<a href="?{{ filter_params }}&page={{ page_obj.previous_page_number|add:'-3' }}">
								  			<span class="pagination__link">...</span>
										</a>
							  		</li>
								{% endif %}
						  	{% endif %}
						  	{% if paginator.page_range|length > 1 %}
								{% for i in paginator.page_range %}
							  		{% if page_obj.number == i %}
										<li class="pagination__item active">
											<a class="pagination__link" href="#">{{ i }}</a>
										</li>
							  		{% elif i > page_obj.number|add:'-3' and i < page_obj.number|add:'3' %}
										<li class="pagination__item">
											<a class="pagination__link" href="?{{ filter_params }}&page={{ i }}">{{ i }}</a>
										</li>
							  		{% endif %}
								{% endfor %}
						  	{% endif %}
						  	{% if page_obj.has_next %}
								{% if page_obj.number|add:'3' < page_obj.paginator.num_pages %}
							  		<li class="pagination__item pagination__item--dots">
										<a href="?{{ filter_params }}&page={{ page_obj.next_page_number|add:'3' }}">
								  			<span class="pagination__link">...</span>
										</a>
							  		</li>
								{% endif %}
								{% if page_obj.number|add:'2' < page_obj.paginator.num_pages %}
							  		<li class="pagination__item">
										<a class="pagination__link" href="?{{ filter_params }}&page={{ page_obj.paginator.num_pages }}">
								  			{{ page_obj.paginator.num_pages }}
										</a>
							  		</li>
								{% endif %}
						  	{% endif %}
						</ul>
<!--						<div class="pagination">-->
<!--							{% with page_numbers=page_obj.paginator.page_range %}-->
<!--								{% for page_num in page_numbers %}-->
<!--									{% if page_obj.number == page_num %}-->
<!--										<a class="page-item active">{{ page_num }}</a>-->
<!--									{% elif page_num > page_obj.number|add:'-4' and page_num < page_obj.number|add:'4' %}-->
<!--										<a href="?{{ filter_params }}&page={{ page_num }}" class="page-item">{{ page_num }}</a>-->
<!--									{% elif page_num == 1 or page_num == page_obj.paginator.num_pages or page_num == page_obj.number|add:'-3' or page_num == page_obj.number|add:'3' %}-->
<!--										<a href="?{{ filter_params }}&page={{ page_num }}" class="page-item">{{ page_num }}</a>-->
<!--									{% endif %}-->
<!--								{% endfor %}-->
<!--							{% endwith %}-->
<!--						</div>-->
					</div>
				</div>
				<!-- End Filter Bar -->
			</div>
		</div>
	</div>

	<!-- Start related-product Area -->
	<section class="related-product-area section_gap">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6 text-center">
					<div class="section-title">
						<h1>Предложения недели</h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
							magna aliqua.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-9">
					<div class="row">
						{% for shoe in discounted_products %}
						<div class="col-lg-4 col-md-4 col-sm-6 mb-20">
							<div class="single-related-product d-flex">
								<a href="{% url 'product_detail' shoe.url shoe.id %}"><img src="{{ shoe.main_image.url }}" width="70" height="70" alt="{{ shoe.name }}"></a>
								<div class="desc">
									<a href="{% url 'product_detail' shoe.url shoe.id %}" class="title">{{ shoe.name }}</a>
									<div class="price">
										<h6>{{ shoe.discounted_price }}₽</h6>
										<h6 class="l-through">{{ shoe.price }}₽</h6>
									</div>
								</div>
							</div>
						</div>
						{% empty %}
                    	<p>Нет доступных продуктов.</p>
                    	{% endfor %}
					</div>
				</div>
				<div class="col-lg-3">
					<div class="ctg-right">
						<a href="{% url 'product_list' %}?discount=5">
							<img class="img-fluid d-block mx-auto" href="{% url 'product_list' %}?discount=5" src="{% static 'img/category/c5.jpg' %}" alt="">
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End related-product Area -->
</div>

<!--    {% for shoe in shoes %}-->
<!--    <div class="card mb-3">-->
<!--        <div class="row">-->
<!--            <div class="col-4">-->
<!--                <img src="{{ shoe.main_image.url }}" class="card-img-top" alt="{{ shoe.name }}">-->
<!--            </div>-->
<!--            <div class="col-8">-->
<!--                <div class="card-body">-->
<!--                    <h5 class="card-title">{{ shoe.name }}</h5>-->
<!--                    <div class="card-subtitle">{{ shoe.author.username }}</div>-->
<!--                    <p class="card-text">{{ shoe.description }}</p>-->
<!--                    <a href="{% url 'product_by_category' shoe.category.url %}" class="btn btn-primary">{{ shoe.category.name }}</a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    {% endfor %}-->


{% endblock content %}