{% extends 'base.html' %}
{% load static %}
{% block content %}

	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Информаци о Продукте</h1>
					<nav class="d-flex align-items-center">
						<a href="{% url 'home' %}">Главная<span class="lnr lnr-arrow-right"></span></a>
						<a href="#">Магазин<span class="lnr lnr-arrow-right"></span></a>
						<a href="{% url 'product_detail' shoe.url shoe.id %}">Подробности о Продукте</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	<!--================Single Product Area =================-->
	<div class="product_image_area">
		<div class="container">
			<div class="row s_product_inner">
				<div class="col-lg-6">
					<div class="s_Product_carousel">
						{% if shoe.main_image %}<div class="single-prd-item">
							<img class="img-fluid" src="{{ shoe.main_image.url }}" alt="{{ shoe.name }}">
						</div>{% endif %}
						{% if shoe.image_1 %}<div class="single-prd-item">
							<img class="img-fluid" src="{{ shoe.image_1.url }}" alt="{{ shoe.name }}">
						</div>{% endif %}
						{% if shoe.image_2 %}<div class="single-prd-item">
							<img class="img-fluid" src="{{ shoe.image_2.url }}" alt="{{ shoe.name }}">
						</div>{% endif %}
						{% if shoe.image_3 %}<div class="single-prd-item">
							<img class="img-fluid" src="{{ shoe.image_3.url }}" alt="{{ shoe.name }}">
						</div>{% endif %}
					</div>
				</div>
				<div class="col-lg-5 offset-lg-1">
					<div class="s_product_text">
						<h3>{{ shoe.name }}</h3>
						{% if shoe.discounted_price %}
							{% if shoe.discount != 0 %}
								<h2>{{ shoe.discounted_price }} ₽</h2>
							{% else %}
                                <h2>{{ shoe.price }}₽</h2>
                            {% endif %}
						{% endif %}
						<ul class="list">
							<li><a class="active" href="{% url 'product_by_category' shoe.category.url %}"><span>Категория</span> : {{ shoe.category }}</a></li>
							{% if shoe.available == True %}
								<li><a href="#"><span>Доступность</span> : Есть в наличии</a></li>
							{% elif shoe.available == False %}
								<li><a href="#"><span>Доступность</span> : Нет в наличии</a></li>
							{% endif %}
							<li><a href="#" style="pointer-events: none;"><span>Осталось</span> : {{ shoe.stock }}</a></li>
							{% for country in country_of_manufacture %}
								<li><a href="#"><span>Производитель</span> : {{ country.name }} (ID: {{ country.id }})</a></li>{% if not forloop.last %}, {% endif %}
							{% empty %}
								<span>Не указано</span>
							{% endfor %}
							<li><a href="#" style="pointer-events: none;"><span>Код производителя</span> : {{ shoe.manufacturers_code }}</a></li>
						</ul>
						<p>{{ shoe.description|truncatechars:400 }}</p>
						{% if user.is_authenticated %}
							<form method="post" action="{% url 'add_to_cart' shoe.id %}">
								{% csrf_token %}
								<div class="product_count">
									<label>Количество:</label>
									<input
										type="number"
										name="quantity"
										id="sst"
										value="1"
										min="1"
										max="10"
										class="input-text qty"
									>
									<button type="button"
										onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
										class="increase items-count items-count-up">
									</button>
									<button type="button"
										onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
										class="reduced items-count items-count-down">
									</button>
								</div>
								<div class="card_area d-flex align-items-center">
									<button type="submit" class="primary-btn">Добавить в корзину</button>
									<a class="icon_btn" href="#"><i class="lnr lnr lnr-diamond"></i></a>
									<a class="icon_btn" href="#"><i class="lnr lnr lnr-heart"></i></a>
								</div>
							</form>
						{% else %}
							<a href="{% url 'login' %}" type="button">
								<p class="warning-text">Для покупки пожалуйста авторизуйтесь</p>
							</a>
						{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--================End Single Product Area =================-->

	<!--================Product Description Area =================-->
	<section class="product_description_area">
		<div class="container">
		{% csrf_token %}
			<ul class="nav nav-tabs" id="myTab" role="tablist">
				<li class="nav-item">
					<a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Описание</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
					 aria-selected="false">Детали</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
					 aria-selected="false">Комментарии</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review"
					 aria-selected="false">Отзывы</a>
				</li>
			</ul>
			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
					<p>{{ shoe.description|truncatechars:5000 }}</p>
				</div>
				<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
					<div class="table-responsive">
						<table class="table">
							<tbody>
								<tr>
									<td>
										<h5>Бренд</h5>
									</td>
									<td>
										<h5>{{ brand_of_manufacture|join:', ' }}</h5>
									</td>
								</tr>
								<tr>
									<td>
										<h5>Пол</h5>
									</td>
									<td>
										<h5>{{ gender|join:', ' }}</h5>
									</td>
								</tr>
								<tr>
									<td>
										<h5>Цвет</h5>
									</td>
									<td>
										<h5>{{ colors|join:', ' }}</h5>
									</td>
								</tr>
								<tr>
									<td>
										<h5>Размер</h5>
									</td>
									<td>
										<h5>{{ sizes|join:', ' }}</h5>
									</td>
								</tr>
								<tr>
									<td>
										<h5>Коллекция</h5>
									</td>
									<td>
										<h5>{{ collections|join:', ' }}</h5>
									</td>
								</tr>
								<tr>
									<td>
										<h5>Материал верха</h5>
									</td>
									<td>
										<h5>{{ upper_material|join:', ' }}</h5>
									</td>
								</tr>
								<tr>
									<td>
										<h5>Материал подкладки</h5>
									</td>
									<td>
										<h5>{{ lining_material|join:', ' }}</h5>
									</td>
								</tr>
								<tr>
									<td>
										<h5>Материал подошвы</h5>
									</td>
									<td>
										<h5>{{ outsole_material|join:', ' }}</h5>
									</td>
								</tr>
								<tr>
									<td>
										<h5>Материал стельки</h5>
									</td>
									<td>
										<h5>{{ insole_material|join:', ' }}</h5>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="tab-pane fade" id="contact" id="comments" role="tabpanel" aria-labelledby="contact-tab">
					<div class="row">
						<div class="col-lg-6">
							<div class="comment_list">
                                {% for comment in shoe.comments.all %}
									{% if not comment.parent %}
                                        <div class="review_item">
                                            <div class="media">
                                                <div class="d-flex">
                                                    <img class="img-fluid reviewer-image" src="
                                                        {% if comment.user.image %}
                                                            {{ comment.user.image.url }}
                                                        {% else %}
                                                            {% static 'img/default_avatar.png' %}
                                                        {% endif %}"
                                                         alt="{{ comment.author.username }}">
                                                </div>
                                                <div class="media-body">
                                                    <h4>{{ comment.author.username }}</h4>
                                                    <h5>{{ comment.created_at|date:"d M Y H:i" }}</h5>
                                                    <p>{{ comment.text }}</p>
													<a href="?parent_id={{ comment.id }}" class="reply-btn">Ответить</a>

                                                    {% if user.is_staff or comment.author == user %}
														<a style="color: red;" href="{% url 'comment_delete' pk=comment.id %}">Удалить</a>
                                                    {% endif %}
                                                </div>

                                                <!-- Вложенные комментарии -->
												<div class="replies">
													{% for reply in comment.replies.all %}
														<div class="review_item reply">
															<div class="media">
																<div class="d-flex">
																	<img class="img-fluid reviewer-image" src="
																		{% if reply.user.image %}
																			{{ reply.user.image.url }}
																		{% else %}
																			{% static 'img/default_avatar.png' %}
																		{% endif %}"
																		alt="{{ reply.author.username }}">
																</div>
																<div class="media-body">
																	<h4>{{ reply.author.username }}</h4>
																	<h5>{{ reply.created_at|date:"d M Y H:i" }}</h5>
																	<p>{{ reply.text }}</p>

																	{% if user == user.is_staff or reply.author %}
																		<a style="color: red;" href="{% url 'comment_delete' pk=reply.id %}">Удалить</a>
																	{% endif %}
																</div>
															</div>
														</div>
													{% endfor %}
												</div>
                                            </div>
                                        </div>
                                    {% endif %}
								{% empty %}
									<p>Пока нет комментариев</p>
								{% endfor %}
							</div>
						</div>
						<div class="col-lg-6">
							<div class="review_box">
								<h4>Оставить комментарий</h4>
								{% if user.is_authenticated %}
									<form method="post" action="{% url 'create_comment' shoe.url shoe.id %}" class="row contact_form" id="comment-form" novalidate="novalidate">
										{% csrf_token %}
										<input type="hidden" name="parent_id" value="{{ request.GET.parent_id }}">
										<div class="col-md-12 form-group">
											<textarea class="form-control" name="text" rows="5" placeholder="Ваш комментарий" required></textarea>
										</div>
										<div class="col-md-12 text-right">
											<button type="submit" class="btn primary-btn">Отправить</button>
											{% if request.GET.parent_id %}
												<a style="color: #fff;" href="?"><button style="background: #00ff28;" class="btn primary-btn">Отменить ответ</button></a>
											{% endif %}
										</div>
									</form>
								{% else %}
									<p>Чтобы оставить комментарий, <a href="{% url 'login' %}">войдите</a></p>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade show active" id="review" role="tabpanel" aria-labelledby="review-tab">
					<div class="row">
						<div class="col-lg-6">
							<div class="row total_rate">
								<div class="col-6">
									<div class="box_total">
										<h5>Рейтинг</h5>
										<div class="average-rating">
											{% with avg_rating=shoe.average_rating|default:0 %}
												{% for i in "12345"|make_list %}
													<i class="fa
														{% if forloop.counter <= avg_rating %}
															fa-star
														{% else %}
															fa-star-o
														{% endif %}">
													</i>
												{% endfor %}
											{% endwith %}
											<h4>{{ average_rating|default:"0.0" }}</h4>
										</div>
										{% load review_filters %}
										<h6>({{ num_comments }} {{ num_comments|review_nominative }})</h6>
<!--										<p>{{ shoe.get_latest_review }}</p>-->
									</div>
								</div>
								<div class="col-6">
									<div class="rating_list">
										{% load review_filters %}
										<h3>Основано на {{ num_comments }} {{ num_comments|review_prepositional }}</h3>
										<div>
											{% if has_ratings %}
												{% for stat in rating_distribution %}
													<div class="stat-item">
														<div class="stars">
															{% for i in "12345"|make_list %}
																{% if forloop.counter <= stat.stars %}
																	<i class="fa fa-star"></i>
																{% else %}
																	<i class="fa fa-star-o"></i>
																{% endif %}
															{% endfor %}
														</div>
														<div class="count">
															{% load review_filters %}
																{{ stat.count }} {{ stat.count|review_nominative }}
														</div>
													</div>
												{% endfor %}
											{% else %}
												<p class="text-muted">Пока нет оценок</p>
											{% endif %}
										</div>
									</div>
								</div>
							</div>
							<div class="review_list">
							{% for review in shoe.reviews.all %}
								<div class="review_item">
									<div class="media">
										<div class="d-flex">
											<img class="img-fluid reviewer-image" src="
												{% if review.user.image %}
													{{ review.user.image.url }}
												{% else %}
													{% static 'img/default_avatar.png' %}
												{% endif %}"
											alt="{{ review.user.username }}">
										</div>
										<div class="media-body">
											<div class="container-comment">
												<div class="column-comment">
													<div class="media-body">
														<h4>{{ review.user.username }}</h4>
														{% with star_value=review.star.value %}  <!-- Получаем значение звезды из отзыва -->
															{% for i in "12345"|make_list %}     <!-- 5 итераций для 5 звезд -->
																{% if forloop.counter <= star_value %}
																	<i class="fa fa-star"></i>  <!-- Заполненная звезда -->
																{% else %}
																	<i class="fa fa-star-o"></i> <!-- Пустая звезда -->
																{% endif %}
															{% endfor %}
														{% endwith %}
													</div>
													<!--<a>{{ review.created_at|date:"d F Y H:i" }}</a>-->
												</div>
											</div>
										</div>
									</div>
									<p>{{ review.text }}</p>
									{% if user.is_staff %}
										<a style="color: red;" href="{% url 'review_delete' shoe.url shoe.id review.id %}">Удалить отзыв</a>
									{% endif %}
								</div>
							{% empty %}
								<p>Пока нет отзывов</p>
  							{% endfor %}
							</div>
						</div>
						<div class="col-lg-6">
							<div class="review_box">
								<h4>Добавить отзыв</h4>
								<p>Ваш рейтинг:</p>
								{% if user.is_authenticated %}
									<form method="post" action="{% url 'create_review' shoe.url shoe.id %}" enctype="multipart/form-data" class="row contact_form" novalidate="novalidate" onsubmit="console.log('Form submitted')">
										{% csrf_token %}
										<div class="col-md-12">
											<div class="form-group">
												<div class="rating-stars">
													{% for i in "12345" %}
														<span class="star" data-value="{{ i }}">★</span>
													{% endfor %}
													<input type="hidden" name="star" id="id_star" value="">
												</div>
											</div>
										</div>
										<div class="col-md-12">
											<div class="form-group">
												<textarea class="form-control" id="text" name="text" placeholder="Оставить отзыв"></textarea>
											</div>
										</div>

										<div class="col-md-12 text-right">
											<button type="submit" class="primary-btn">Отправить</button>
										</div>
									</form>
									{% if form.errors %}
										<div class="alert alert-danger">
											{% for field, errors in form.errors.items %}
												{{ field }}: {{ errors|join:", " }}
											{% endfor %}
										</div>
									{% endif %}
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Product Description Area =================-->

	<!-- Start related-product Area -->
	<section class="related-product-area section_gap_bottom">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6 text-center">
					<div class="section-title">
						<h1>Предложения недели</h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
							magna aliqua.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-9">
					<div class="row">
						{% for shoe in discounted_products %}
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="single-related-product d-flex">
								<a href="{% url 'product_detail' shoe.url shoe.id %}"><img src="{{ shoe.main_image.url }}" width="70" height="70" alt="{{ shoe.name }}"></a>
								<div class="desc">
									<a href="{% url 'product_detail' shoe.url shoe.id %}" class="title">{{ shoe.name }}</a>
									<div class="price">
										<h6>{{ shoe.discounted_price }}₽</h6>
										<h6 class="l-through">{{ shoe.price }}₽</h6>
									</div>
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
				<div class="col-lg-3">
					<div class="ctg-right">
						<a href="{% url 'product_list' %}?discount=5">
							<img class="img-fluid d-block mx-auto" href="{% url 'product_list' %}?discount=5" src="{% static 'img/category/c5.jpg' %}" alt="">
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
<!--	 End related-product Area -->
{% endblock content %}

<script>
const form = document.querySelector('.contact_form');

form.addEventListener('submit', async (event) => {
  event.preventDefault(); // Отменяем стандартное поведение отправки формы

  const formData = new FormData(form); // Создаем объект FormData из формы

  const response = await fetch(`{% url 'review_create' shoe.id %}`, {
    method: 'POST',
    headers: {
      'X-CSRFToken': '{{ csrf_token }}' // Добавляем CSRF-токен в заголовок запроса
    },
    body: formData, // Отправляем FormData напрямую в теле запроса
  });

  const result = await response.json(); // Получаем ответ сервера в формате JSON

  console.log(result); // Выводим ответ сервера в консоль
});
</script>