{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container container_detail">
{% csrf_token %}
    <div>
        <img src="{{ shoe.image.url }}" class="custom_img custom_img_detail" alt="Product image">
    </div>
    <div>
            <h2 class="custom_h2">{{ shoe.name }}</h2>
            {% for color in colors %}{% if not forloop.first %},{% endif %}<p class="custom_p">Цвет: {{ color.name }}</p>{% endfor %}
            <p class="custom_p">Размер: {{ sizes|join:', ' }}</p>
            <p class="custom_p">Цена: {{ shoe.price }} руб</p>
            {% if shoe.volume %}<p class="custom_p">Колличество: {{ shoe.volume }}</p>{% endif %}
            <p class="custom_p">Коллекция: {{ collections|join:', ' }}</p>
            {% if shoe.description %}<p class="custom_p">Описание: {{ shoe.description }}</p>{% endif %}
    </div>
</div>
{% endblock content %}