{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb organic-breadcrumb-delete">
	<div class="container">
		<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
			<div class="col-first">
				<h1>Удаление Комментария</h1>
				<nav class="d-flex align-items-center">
					<a href="{% url 'home' %}">Главная<span class="lnr lnr-arrow-right"></span></a>
					<a href="">Магазин<span class="lnr lnr-arrow-right"></span></a>
					<a href="{% url 'product_detail' object.shoes.url object.shoes.id %}">{{ object.shoes.name }}</a>
				</nav>
			</div>
		</div>
	</div>
</section>
<!-- End Banner Area -->

<!-- Start Comment Delete -->
<section class="section_gap-delete">
    <div class="container">
        <h1>Удалить комментарий</h1>
         <div class="confirmation-message">
            <p>Вы уверены, что хотите удалить свой комментарий?</p>
            <blockquote class="review-content">
                "{{ object.text|truncatechars:500 }}"
            </blockquote>
            <span>Автор: {{ object.author.username }}</span>
            <span>Дата: {{ object.created_at|date:"d M Y H:i" }}</span>
        </div>

        <div class="button-container">
            <form method="post">
                {% csrf_token %}
                <button class="btn btn-danger" type="submit">Удалить</button>
            </form>
			<a href="{% url 'product_detail' object.shoes.url object.shoes.id %}" class="btn btn-secondary">Отмена</a>
        </div>
    </div>
</section>
<!-- End Comment Delete -->

{% endblock content %}