{% extends "base.html" %}
{% load static %}
{% block content %}


    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Shopping Cart</h1>
                    <nav class="d-flex align-items-center">
                        <a href="{% url 'home' %}">Home<span class="lnr lnr-arrow-right"></span></a>
                        <a href="{% url 'cart' %}">Cart</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

    <!--================Cart Area =================-->
    <section class="cart_area">
        <div class="container">
            <div class="cart_inner">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col">Price</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cart_item in cart.cartitem_set.all %}
                                <tr>
                                    <td>
                                        <div class="media">
                                            <div class="d-flex">
                                                <img src="{{ cart_item.shoes.main_image.url }}" alt="{{ cart_item.shoes.name }}" width="90" height="90">
                                            </div>
                                            <div class="media-body">
                                                <p>{{ cart_item.shoes.name }}</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                       <h5>{{ cart_item.shoes.price }} $</h5>
                                    </td>
                                    <td>
                                        <div class="product_count">
                                            <form method="post" action="{% url 'update_cart' cart_item.shoes.id %}">
                                                {% csrf_token %}
                                                <input type="number" name="quantity" value="{{ cart_item.quantity }}" min="1" max="10">
                                                <button type="submit" class="gray_btn">Update</button>
                                            </form>
                                        </div>
                                    </td>
                                    <td>
<!--                                        <h5>{{ cart.total_price }}</h5>-->
                                        <h5>{{ cart_item.get_total_price }} $</h5>
                                    </td>
                                    <td>
                                            {% if cart_item.id %}
                                                <form method="post" action="{% url 'remove_from_cart' cart_item.id %}">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="cart_item_id" value="{{ cart_item.cart_item_id }}">
                                                    <a><button type="submit" class="gray_btn">Remove</button></a>
                                                </form>
                                            {% endif %}
                                    </td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="5">
                                        <p>Ваша корзина пуста</p>
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr class="bottom_button">

                                <td>
<!--                                        <a class="gray_btn" href="#">Update Cart</a>-->
                                </td>
                                <td>

                                </td>
                                <td>

                                </td>
                                <td>

                                </td>

                                <td>
                                    <div class="cupon_text d-flex align-items-center">
                                        <input type="text" placeholder="Coupon Code">
                                        <a class="primary-btn" href="#">Apply</a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>

                                </td>
                                <td>

                                </td>
                                <td>

                                </td>
                                <td>
                                    <h5>Subtotal</h5>
                                </td>
                                <td>
                                    <h5>{{ cart.get_total_price }} $</h5>
                                </td>
                            </tr>
<!--                            <tr class="shipping_area">-->
<!--                                <td>-->

<!--                                </td>-->
<!--                                <td>-->

<!--                                </td>-->
<!--                                <td>-->

<!--                                </td>-->
<!--                                <td>-->
<!--                                    <h5>Shipping</h5>-->
<!--                                </td>-->
<!--                                <td>-->
<!--                                    <div class="shipping_box">-->
<!--                                        <ul class="list">-->
<!--                                            <li><a href="#">Flat Rate: $5.00</a></li>-->
<!--                                            <li><a href="#">Free Shipping</a></li>-->
<!--                                            <li><a href="#">Flat Rate: $10.00</a></li>-->
<!--                                            <li class="active"><a href="#">Local Delivery: $2.00</a></li>-->
<!--                                        </ul>-->
<!--                                        <a class="gray_btn" href="#">Update Details</a>-->
<!--                                    </div>-->
<!--                                </td>-->
<!--                            </tr>-->
                            <tr class="out_button_area">
                                <td>

                                </td>
                                <td>

                                </td>
                                <td>

                                </td>
                                <td>

                                </td>
                                <td>
                                    <div class="checkout_btn_inner d-flex align-items-center">
                                        <a class="gray_btn" href="{% url 'product_list' %}">Continue Shopping</a>
                                        <a class="primary-btn" href="{% url 'confirm' %}">Proceed to checkout</a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <!--================End Cart Area =================-->

{% endblock content %}