{% extends "base.html" %}
{% load static %}
{% block content %}

	<!-- start banner Area -->
	<section class="banner-area">
		<div class="container">
			<div class="row fullscreen align-items-center justify-content-start">
				<div class="col-lg-12">
					<div class="active-banner-slider owl-carousel">
						{% for banner in banners %}
						<!-- single-slide -->
						<div class="row single-slide">
							<div class="col-lg-5">
								<div class="banner-content">
									<h1>{{ banner.title }}</h1>
									<p>{{ banner.description|truncatechars:500 }}</p>
									<div class="add-bag d-flex align-items-center">
										<a class="add-btn" href="{% url 'product_detail' banner.product.url banner.product.id %}"><span class="lnr lnr-cross"></span></a>
										{% if user.is_authenticated %}
											<a class="add-text text-uppercase" href="{% url 'product_detail' banner.product.url banner.product.id %}">Добавить в корзину</a>
										{% else %}
											<a class="add-text text-uppercase warning-text-home" href="{% url 'login' %}">Войти</a>
										{% endif %}
									</div>
								</div>
							</div>
							<div class="col-lg-7">
								<div class="banner-img">
									<img class="img-fluid" src="{{ banner.image.url }}" alt="{{ banner.title }}" onerror="this.src='{% static 'img/placeholder.jpg' %}'">
								</div>
							</div>
						</div>
						{% empty %}
						<div class="col-12">
							<h3>Нет доступных продуктов</h3>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End banner Area -->

	<!-- start features Area -->
	<section class="features-area section_gap">
		<div class="container">
			<div class="row features-inner">
				<!-- single features -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-features">
						<div class="f-icon">
							<img src="{% static 'img/features/f-icon1.png' %}" alt="">
						</div>
						<h6>Бесплатная доставка</h6>
						<p>Бесплатная доставка на весь заказ</p>
					</div>
				</div>
				<!-- single features -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-features">
						<div class="f-icon">
							<img src="{% static 'img/features/f-icon2.png' %}" alt="">
						</div>
						<h6>Политика возврата</h6>
						<p>Бесплатная доставка на весь заказ</p>
					</div>
				</div>
				<!-- single features -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-features">
						<div class="f-icon">
							<img src="{% static 'img/features/f-icon3.png' %}" alt="">
						</div>
						<h6>Круглосуточная поддержка</h6>
						<p>Бесплатная доставка на весь заказ</p>
					</div>
				</div>
				<!-- single features -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-features">
						<div class="f-icon">
							<img src="{% static 'img/features/f-icon4.png' %}" alt="">
						</div>
						<h6>Безопасная оплата</h6>
						<p>Бесплатная доставка на весь заказ</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end features Area -->

	<!-- Start category Area -->
	<section class="category-area">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8 col-md-12">
					<div class="row">
						<div class="col-lg-8 col-md-8">
							<div class="single-deal">
								<div class="overlay"></div>
								<img class="img-fluid w-100" src="{% static 'img/category/c1.jpg' %}" alt="">
								<a href="{% static 'img/category/c1.jpg' %}" class="img-pop-up" target="_blank">
									<div class="deal-details">
										<h6 class="deal-title">Sneaker for Sports</h6>
									</div>
								</a>
							</div>
						</div>
						<div class="col-lg-4 col-md-4">
							<div class="single-deal">
								<div class="overlay"></div>
								<img class="img-fluid w-100" src="{% static 'img/category/c2.jpg' %}" alt="">
								<a href="{% static 'img/category/c2.jpg' %}" class="img-pop-up" target="_blank">
									<div class="deal-details">
										<h6 class="deal-title">Sneaker for Sports</h6>
									</div>
								</a>
							</div>
						</div>
						<div class="col-lg-4 col-md-4">
							<div class="single-deal">
								<div class="overlay"></div>
								<img class="img-fluid w-100" src="{% static 'img/category/c3.jpg' %}" alt="">
								<a href="{% static 'img/category/c3.jpg' %}" class="img-pop-up" target="_blank">
									<div class="deal-details">
										<h6 class="deal-title">Product for Couple</h6>
									</div>
								</a>
							</div>
						</div>
						<div class="col-lg-8 col-md-8">
							<div class="single-deal">
								<div class="overlay"></div>
								<img class="img-fluid w-100" src="{% static 'img/category/c4.jpg' %}" alt="">
								<a href="{% static 'img/category/c4.jpg' %}" class="img-pop-up" target="_blank">
									<div class="deal-details">
										<h6 class="deal-title">Sneaker for Sports</h6>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-deal">
						<div class="overlay"></div>
						<img class="img-fluid w-100" src="{% static 'img/category/c5.jpg' %}" alt="">
						<a href="{% static 'img/category/c5.jpg' %}" class="img-pop-up" target="_blank">
							<div class="deal-details">
								<h6 class="deal-title">Суперцена чёрной пятницы</h6>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End category Area -->

	<!-- start product Area -->
	<section class="active-product-area section_gap">
		<!-- single product slide -->
		<div class="owl-carousel product-carousel">
			<div class="single-product-slider">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-lg-6 text-center">
							<div class="section-title">
								<h1>Последние продукты</h1>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
									dolore
									magna aliqua.</p>
							</div>
						</div>
					</div>
					<div class="row">
						{% for shoe in latest_products %}
							<!-- single product -->
							<div class="col-lg-4 col-md-6">
								<div class="single-product">
									{% if shoe.main_image %}
									<img class="img-fluid" src="{{ shoe.main_image.url }}" alt="{{ shoe.name }}">
									{% endif %}
									<div class="product-details">
										<h6>{{ shoe.name }}</h6>
										<div class="price">
											{% if shoe.discount != 0 %}
												{% if shoe.discounted_price != 0 %}
													<h6 class="l-through">{{ shoe.price }} ₽</h6>
													<h6>{{ shoe.discounted_price }} ₽</h6>
												{% endif %}
											{% else %}
												<h6>{{ shoe.price }} ₽</h6>
											{% endif %}
										</div>
										{% if user.is_staff %}
											<a class="social-info" style="color: red;" href="{% url 'product_delete' shoe.url shoe.id %}">Удалить продукт</a>
										{% endif %}
										<div class="prd-bottom">
											{% if user.is_authenticated %}
												<a href="{% url 'add_to_cart' shoe.id %}" class="social-info">
													<span class="ti-bag"></span>
													<p class="hover-text hover-custom">добавить в корзину</p>
												</a>
											{% else %}
												<a href="{% url 'login' %}" type="button">
													<p class="warning-text">Для покупки пожалуйста авторизуйтесь</p>
												</a>
											{% endif %}
											<a href="#" class="social-info">
												<span class="lnr lnr-sync"></span>
												<p class="hover-text">сравнить</p>
											</a>
											<a href="{% url 'product_detail' shoe.url shoe.id %}" class="social-info">
												<span class="lnr lnr-move"></span>
												<p class="hover-text">подробнее</p>
											</a>
										</div>
									</div>
								</div>
							</div>
						{% empty %}
							<div class="col-12">
								<h4 class="h4-new">Нет доступных продуктов</h4>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="single-product-slider">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-lg-6 text-center">
							<div class="section-title">
								<h1>Скоро в продаже</h1>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
									dolore
									magna aliqua.</p>
							</div>
						</div>
					</div>
					<div class="row">
						{% for shoe in available_products %}
							<!-- single product -->
							<div class="col-lg-4 col-md-6">
								<div class="single-product">
									{% if shoe.main_image %}
										<img class="img-fluid" src="{{ shoe.main_image.url }}" alt="{{ shoe.name }}">
									{% endif %}
									<div class="product-details">
										<h6>{{ shoe.name }}</h6>
										<div class="price">
											{% if shoe.discount != 0 %}
												{% if shoe.discounted_price != 0 %}
												<h6 class="l-through">{{ shoe.price }} ₽</h6>
												<h6>{{ shoe.discounted_price }} ₽</h6>
												{% endif %}
											{% else %}
												<h6>{{ shoe.price }} ₽</h6>
											{% endif %}
										</div>
										{% if user.is_staff %}
											<a class="social-info" style="color: red;" href="{% url 'product_delete' shoe.url shoe.id %}">Удалить продукт</a>
										{% endif %}
										<div class="prd-bottom">
											{% if user.is_authenticated %}
												<a href="{% url 'add_to_cart' shoe.id %}" class="social-info">
													<span class="ti-bag"></span>
													<p class="hover-text hover-custom">добавить в корзину</p>
												</a>
											{% else %}
												<a href="{% url 'login' %}" type="button">
													<p class="warning-text">Для покупки пожалуйста авторизуйтесь</p>
												</a>
											{% endif %}
											<a href="#" class="social-info">
												<span class="lnr lnr-sync"></span>
												<p class="hover-text">сравнить</p>
											</a>
											<a href="{% url 'product_detail' shoe.url shoe.id %}" class="social-info">
												<span class="lnr lnr-move"></span>
												<p class="hover-text">подробнее</p>
											</a>
										</div>
									</div>
								</div>
							</div>
						{% empty %}
							<div class="col-12">
								<h4 class="h4-new">Нет доступных продуктов</h4>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
		<!-- single product slide
		<div class="owl-carousel product-carousel">
			
		</div> -->
	</section>
	<!-- end product Area -->

<!-- Start exclusive deal Area -->
	<section class="exclusive-deal-area">
		<div class="container-fluid">
			<div class="row justify-content-center align-items-center">
				<div class="col-lg-6 no-padding exclusive-left">
					<div class="row clock_sec clockdiv" id="clockdiv">
						<div class="col-lg-12">
							<h1>Эксклюзивная горячая сделка скоро заканчивается!</h1>
							<p>Who are in extremely love with eco friendly system.</p>
						</div>
						<div class="col-lg-12">
							<div class="row clock-wrap" id="js-countdown">
								<div class="col clockinner1 clockinner">
									<h1 class="days js-countdown-days">150</h1>
									<span class="smalltext">дней</span>
								</div>
								<div class="col clockinner clockinner1">
									<h1 class="hours js-countdown-hours">23</h1>
									<span class="smalltext">часов</span>
								</div>
								<div class="col clockinner clockinner1">
									<h1 class="minutes js-countdown-minutes">47</h1>
									<span class="smalltext">минут</span>
								</div>
								<div class="col clockinner clockinner1">
									<h1 class="seconds js-countdown-seconds">59</h1>
									<span class="smalltext">секунд</span>
								</div>
							</div>
						</div>
					</div>
					<a href="{% url 'product_list' %}?big_discount=1" class="primary-btn buy-button">Сделать покупку</a>
				</div>
				<div class="col-lg-6 no-padding exclusive-right">
					<div class="active-exclusive-product-slider">
						{% for offer in special_offers %}
							<!-- single exclusive carousel -->
							<div class="single-exclusive-slider">
								<img class="img-fluid" src="{{ offer.image.url }}" alt="{{ offer.title }}" onerror="this.src='{% static 'img/placeholder.jpg' %}'">
								<div class="product-details">
									<div class="price">
										{% if offer.discount != 0 %}
												{% if offer.discounted_price != 0 %}
												<h6 class="h6-price l-through">{{ offer.price }} ₽</h6>
												<h6 class="h6-discount">{{ offer.discounted_price }} ₽</h6>
												{% endif %}
											{% else %}
												<h6 class="h6-price">{{ offer.price }} ₽</h6>
											{% endif %}
									</div>
									<h4>{{ offer.title }}</h4>
									<div class="add-bag d-flex align-items-center justify-content-center">
										{% if user.is_authenticated %}
											<a class="add-btn" href=""><span class="ti-bag"></span></a>
											<a class="add-text text-uppercase" href="{% url 'product_detail' offer.product.url offer.product.id %}">Добавить в корзину</a>
										{% else %}
											<a class="add-text text-uppercase warning-text-home" href="{% url 'login' %}">Войти</a>
										{% endif %}
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End exclusive deal Area -->

	<!-- Start brand Area -->
	<section class="brand-area section_gap">
		<div class="container">
			<div class="row">
				<a class="col single-img" href="#">
					<img class="img-fluid d-block mx-auto" src="{% static 'img/brand/1.png' %}" alt="">
				</a>
				<a class="col single-img" href="#">
					<img class="img-fluid d-block mx-auto" src="{% static 'img/brand/2.png' %}" alt="">
				</a>
				<a class="col single-img" href="#">
					<img class="img-fluid d-block mx-auto" src="{% static 'img/brand/3.png' %}" alt="">
				</a>
				<a class="col single-img" href="#">
					<img class="img-fluid d-block mx-auto" src="{% static 'img/brand/4.png' %}" alt="">
				</a>
				<a class="col single-img" href="#">
					<img class="img-fluid d-block mx-auto" src="{% static 'img/brand/5.png' %}" alt="">
				</a>
			</div>
		</div>
	</section>
	<!-- End brand Area -->

	<!-- Start related-product Area -->
	<section class="related-product-area section_gap_bottom">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6 text-center">
					<div class="section-title">
						<h1>Предложения недели</h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
							magna aliqua.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-9">
					<div class="row">
						{% for shoe in discounted_products %}
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="single-related-product d-flex">
								<a href="{% url 'product_detail' shoe.url shoe.id %}"><img src="{{ shoe.main_image.url }}" width="70" height="70" alt="{{ shoe.name }}"></a>
								<div class="desc">
									<a href="{% url 'product_detail' shoe.url shoe.id %}" class="title">{{ shoe.name }}</a>
									<div class="price">
										<h6>{{ shoe.discounted_price }} ₽</h6>
										<h6 class="l-through">{{ shoe.price }} ₽</h6>
									</div>
								</div>
							</div>
						</div>
						{% empty %}
							<h4>Нет доступных продуктов</h4>
                    	{% endfor %}
					</div>
				</div>
				<div class="col-lg-3">
					<div class="ctg-right">
						<a href="{% url 'product_list' %}?discount=5">
							<img class="img-fluid d-block mx-auto" href="{% url 'product_list' %}?discount=5" src="{% static 'img/category/c5.jpg' %}" alt="">
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End related-product Area -->
{% endblock content %}
